USER_EMAIL = "your_email"
USER_PASSWORD = "your_password"
ITEM_0 = "https://www.newegg.com/gigabyte-gv-n5090aorus-m-32gd-nvidia-geforce-rtx-5090-32gb-gddr7/p/N82E16814932760?Item=N82E16814932760&SoldByNewegg=1"
ITEM_1 = "https://www.newegg.com/msi-rtx-5090-32g-suprim-soc-nvidia-geforce-rtx-5090-32gb-gddr7/p/N82E16814137915?Item=N82E16814137915&SoldByNewegg=1"
ITEM_2 = "https://www.newegg.com/p/N82E16814126753?Item=N82E16814126753&SoldByNewegg=1"
ITEM_3 = "https://www.newegg.com/p/N82E16814126752?Item=N82E16814126752&SoldByNewegg=1"
ITEM_4 = "https://www.newegg.com/zotac-solid-zt-b50900d-10p-nvidia-geforce-rtx-5090-32gb-gddr7/p/N82E16814500597?Item=N82E16814500597&SoldByNewegg=1"
ITEM_5 = "https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4759287"
ITEM_6 = "https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4762936"
ITEM_7 = "https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4759212"
ITEM_8 = "https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4760063"
ITEM_9 = "https://www.newegg.com/Product/ComboDealDetails?ItemList=Combo.4759246"
